.row{
    display: flex;
    flex-wrap : wrap;
    
}

.col-50{
    flex: 50%;
}

.container{
    background-color: rgb(211, 211, 211);
    padding-left: 20px ;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
   /* text-align: center; */
}


label{
    margin-bottom: 5px;
    display: block;
}

input{
    margin-bottom: 10px;
    width: 50%;
}

.icon-container{
    margin-bottom: 5px; 
    font-size: 24px;
}

.btn{
    background-color: lightblue;
    color: white;
    padding: 12px;
    margin:10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px
}

.btn:hover{
    background-color: #45a049;
}

@media (max-width: 800px){
    .row{
        flex-direction: column-reverse;
    }
}